* {
  box-sizing: border-box !important;
}

html {
  font-family: 'Roboto';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-page>img {
  padding: 25vh 16px 16px 16px;
}

.home-page input {
  width: 345px;
  height: 49px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 12px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.home-page input::placeholder {

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  opacity: 1;
  color: #000000;
}

.home-page .list-decks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.list-decks>p {
  color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-break: loose;
  width: 345px;
  transition: 0.5s ease-in-out;
}

.button-zap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  width: 345px;
  height: 72px;

  border: 3px solid #FFEF61;
  box-sizing: border-box;
  border-radius: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.header-zap {
  width: 100vw;

  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
}

.header-zap img {
  padding: 26px;
}

.flashcard-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-name {
  position: absolute;
  top: 111px;

  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.flashcard {
  width: 392px;
  height: 575px;

  padding: 16px;

  background: #FFFFFF;
  border: 5px solid #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

.flashcard-header {
  display: flex;
  justify-content: center;

}

.flashcard-header>h1 {
  height: 21px;

  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  padding: 3px;
  position: absolute;
  top: 15px;

  display: none;
}

.flashcard-header>p {
  position: absolute;
  right: 0px;
  top: 0px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  padding: 12px;

}


.flashcard-footer {
  width: 100%;

  display: flex;
  gap: 16px;

  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0px;
  padding: 12px;
}

.flashcard-footer>img {
  position: absolute;
  bottom: 0px;
  right: 0px;

  padding: 12px;
}

.flashcard>h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  text-align: center;

}

.flashcard>p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  margin: 40px 0px;
  padding: 0px 33px;

  overflow: scroll;
  text-align: left;
  word-break: normal;

  display: none;

  transition: all .5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;

}

.answer {
  width: 65px;
  height: 48px;
  box-sizing: border-box;
  border: 3px solid;
  border-radius: 12px;

  padding: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: none;

}

.answer:nth-of-type(1) {
  border-color: #000000;
}

.answer:nth-of-type(2) {
  border-color: #F74848;
}

.answer:nth-of-type(3) {
  border-color: #62DB38;
}

.answer:nth-of-type(4) {
  border-color: #FFEF61;
  font-weight: bold;
}

.frontface {}

.backface {}


@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.flashcard.backface .flashcard-footer>img {
  display: none;
}

.flashcard.backface .answer {
  display: flex;
}

.flashcard.backface>p {
  display: initial;
}

.flashcard.backface>h1 {
  display: none;
}

.flashcard.backface .flashcard-header>h1 {
  display: initial;
}

.neutral {
  border: 5px solid #000000;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);

  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

}

.incorrect {
  border: 5px solid #F74848;
  box-shadow: 0px 8px 24px rgba(247, 72, 72, 0.12);

  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

}

.unsure {
  border: 5px solid #62DB38;
  box-shadow: 0px 8px 24px rgba(98, 219, 56, 0.12);

  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

}


.correct {
  border: 5px solid #FFEF61;
  box-shadow: 0px 8px 24px rgba(255, 239, 97, 0.12);

  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

}

.flashcard.backface:not(.blank) .answer {
  display: none;
}

.flashcard.backface:not(.blank) .flashcard-footer>img {
  display: initial;
}

.endgame-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px
}

.endgame-page div:first-of-type {
  display: flex;
  gap: 1em;
}

.endgame-page>div>h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.endgame-page>p {
  width: 500px;
  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 0.5em;
}

.hidden {
  display: none;
}